:root {
    --darkerText: rgb(184, 184, 184);
    --text: #fafcff;
    --background: #020916;
    --box: #030811;
    --primary: #158ee5;
    --secondary: #a333e9;
    --linearPrimarySecondary: linear-gradient(#158ee5, #a333e9);
    --radialPrimarySecondary: radial-gradient(#158ee5, #a333e9);
}

body {
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    scroll-margin-top: 100px;
}

.no-cursor, .no-cursor * {
    cursor: none !important;
}

html {
    font-size: 100%; /* 16px */
    scroll-behavior: smooth;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    border: 1.5px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    border: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* TEXT STYLING */
p {
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--text);
    font-weight: 700;
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
    color: var(--text);
}

h2 {
    font-size: 4.158rem;
    /* 50.56px */
    color: var(--text);
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
}

::selection {
    background: var(--text);
    color: var(--background);
}

/* COMPONENTS */
.primaryColor {
    color: var(--primary);
}

.line {
    content: " ";
    display: block;
    border-bottom: 1px solid #303030;
}

.line-anim {
    content: " ";
    display: block;
    border-bottom: 0.5px solid var(--primary);
    animation: 1s ease-in-out 0s 1 fadeIn_scaleIn2;
}

/* CUSTOM BUTTONS */
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: fit-content;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: 16px;
    font-weight: 600;

    border: 2px solid var(--button_color);
    border-radius: 15px;

    background-color: transparent;
    color: var(--button_color);

    transition: all 0.1s ease;
}

.custom-button:hover {
    border: 2px solid black;
    color: white;
}

/* ANIMATIONS */
@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .15;
    }
}

@keyframes fadeIn_scaleIn {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn_scaleIn2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

/* LINKS */
a {
    text-decoration: none;
}

/* CUSTOM CURSOR */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999;
    
    backdrop-filter: invert(1);
    -webkit-backdrop-filter: invert(1);

    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.custom-cursor.hovering {
    width: 50px;
    height: 50px;
}

.custom-cursor.is-morphed {
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
}




/* HEADER */
.header {
    overflow: hidden;
    margin: 0;
    padding: 90px;

    h1 {
        z-index: 1;
        position: relative;

        font-size: 400%;
        animation: 1s ease-in-out 0s 1 fadeIn_scaleIn;
        text-align: center;
        transition: all .55s ease;
    }
}

/* SECTIONS */
.portfolio-text_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    color: var(--text);
    padding: 1px;
    margin: auto;
    margin-top: 15px;
}

.section-subtext {
    text-align: center;
    font-size: 27px;
    max-width: 1500px;
    word-wrap: break-word;
    color: var(--darkerText);
}

.section-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 23px;
    max-width: 900px;
    word-wrap: break-word;
    color: var(--text);
}

.section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: 16px;
        width: 800px;
    }

    p {
        color: var(--darkerText);
        font-size: 18px;
    }
}

.section-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section-subheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-box {
    padding: 1rem;
    border-left: 5px solid;
    border-color: var(--primary);
    border-radius: 4px;
    margin: 1rem 0;

    .title {
        display: flex;
        flex-direction: row;
        gap: 5px;

        align-items: center;

        font-weight: bold;
        color: var(--primary);
        margin-bottom: 0.5rem;
    }
}

/* ABOUT ME */
.about-me {
    background-color: var(--box);
}

.about-me-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-me-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
    overflow: hidden;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-card {
    position: relative;
    width: 300px;
    height: 100px;
    border-radius: 2px;
    overflow: hidden;

    #background {
        position: absolute;
        object-fit: cover;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #gradient {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        transition: all .3s ease;
    }

    #title, #description {
        position: absolute;
        bottom: -2%;
        transform: translateY(150px);
        left: 5%;
        z-index: 1;
        opacity: 0;
        transition: all .3s ease;
    }

    #title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    #description {
        font-size: 14px;
        font-weight: 200;
    }
}

.about-me-card:hover  {
    #title, #description {
        opacity: 1;
        transform: translateY(0px);
    }

    #gradient {
        opacity: 1;
    }
}

/* CAROUSEL */
.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 12px;
    background-color: #030811;
}

.carousel-track {
    transition: transform 0.3s ease-out;
    display: flex;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.carousel-subtext {
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-10px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    z-index: 10;

    background-color: var(--box);
    color: var(--text);
    border: none;
    scale: 1;
    transition: all .2s ease;
}

.animated {
    background: var(--text);
    color: var(--box);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: var(--text);
    border-radius: 50%;
    transition: 
        background-color 0.5s ease,
        border-radius 0.5s cubic-bezier(.25, .1, .36, 3),
        scale .4s cubic-bezier(.25, .1, .36, 1.2);
}

.dot.active {
    background: var(--primary);
    border-radius: 35%;
    scale: 1.8;

    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* TIMELINE */
.timeline {
    list-style: none;
    padding: 0;

    li {
        padding-top: 0.8rem;
        padding-bottom: 1.5rem;
        border-left: 1px solid var(--primary);
        position: relative;
        padding-left: 20px;
        margin-left: 10px;

        &:last-child { /* Make last child (empty li to show just d dot) not have the line to the bottom */
            border: 0px;
            padding-bottom: 0;
        }
    
        p::before { /* Dot next to date */
            content: '';
            width: 15px;
            height: 15px;
            background: var(--text);
            border: #158ee5 solid 3px;
            border-radius: 50%;
            position: absolute;
            left: -11px;
            top: 0px;
        }
        
        p {
            padding: 0;
            margin: 0;
        }
    }

    .date {
        font-weight: bold;
        position: relative;
        padding-left: 34px;
    }

    .date::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
    
        width: 24px;
        height: 24px;
    
        background-image: url("/content/calendar-event.svg");
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        border: 0px;
        border-radius: 0px;
    }
}

.timeline-link {
    color: var(--primary);
    font-style: italic;
    text-decoration: underline;
}

@property --start-opacity {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

.timeline li {
    color:rgb(163, 51, 233);
    background: linear-gradient(to right, rgba(163, 51, 233, var(--start-opacity)), rgba(163, 51, 233, 0));

    transition: --start-opacity 0.4s, scale 0.4s;
}

.timeline li:not(:last-child):hover {
    scale: 1.01;

    --start-opacity: .7;
}

/* PhotoSwipe Gallery */
.pswp__dynamic-caption--below {
    max-width: 90%;
    font-size: clamp(1rem, 2.2vw, 1.6rem);
    padding: 15px 0 0;
    text-align: center;
    margin: 0 auto;
}

.pswp__dynamic-caption--mobile {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.grid-interactive {
    transform: translateX(20%);

    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 4px;

    img {
        border-radius: 15px;
        margin: 8px;
        vertical-align: middle;
        transition: all .65s ease;
        opacity: 1;
    }
}

.grid-interactive:has(img:hover) img:not(:hover) {
    opacity: 0.5;
    filter: blur(1px);
    -webkit-filter: blur(1px)
}

.grid-interactive img {
    opacity: 1.0;
    filter: blur(0px);
    -webkit-filter: blur(0px)
}

#grid-big {
    img {
        width: 300px;
        height: auto;
    }

    img:hover {
        width: 340px;
        height: auto;
    }
}


#grid-medium {
    img {
        width: 230px;
        height: auto;
    }

    img:hover {
        width: 270px;
        height: auto;
    }
}