:root {
    --darkerText: rgb(119, 119, 119);
    --text: #fafcff;
    --background: #020916;
    --box: #030811;
    --primary: #158ee5;
    --secondary: #a333e9;
    --linearPrimarySecondary: linear-gradient(#158ee5, #a333e9);
    --radialPrimarySecondary: radial-gradient(#158ee5, #a333e9);
}

body {
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    cursor: none;
}

html {
    font-size: 100%; /* 16px */
    scroll-behavior: smooth;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    border: 1.5px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    border: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* TEXT STYLING */
p {
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--text);
    font-weight: 700;
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
    color: var(--text);
}

h2 {
    font-size: 4.158rem;
    /* 50.56px */
    color: var(--text);
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
}

::selection {
    background: var(--primary);
    color: var(--background);
}

/* COMPONENTS */
.primaryColor {
    color: var(--primary);
}

.line {
    content: " ";
    display: block;
    border-bottom: 1px solid #303030;
}

.line-anim {
    content: " ";
    display: block;
    border-bottom: 0.5px solid var(--primary);
    animation: 1s ease-in-out 0s 1 fadeIn_scaleIn2;
}

/* ANIMATIONS */
@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .15;
    }
}

@keyframes fadeIn_scaleIn {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn_scaleIn2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

/* HYPERLINKS */
a {
    font-weight: 600;

    color: var(--primary);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--secondary);
    font-weight: 1000;
}

/* CUSTOM CURSOR */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999;
    
    backdrop-filter: invert(1);
    -webkit-backdrop-filter: invert(1);

    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.custom-cursor.hovering {
    width: 50px;
    height: 50px;
}

.custom-cursor.is-morphed {
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
}




/* HEADER */
.header {
    overflow: hidden;
    margin: 0;
    padding: 90px;

    h1 {
        z-index: 1;
        position: relative;

        font-size: 400%;
        animation: 1s ease-in-out 0s 1 fadeIn_scaleIn;
        text-align: center;
        transition: all .55s ease;
    }
}

/* INFINITE SCROLL EFFECT */
.scrolling-container {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 35px;
    overflow: hidden;
    transform: rotateZ(-1.5deg);
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
}

.scrolling-text {
    white-space: nowrap;
    display: flex;
    animation: scrollText 40s infinite linear;
    
    p {
        font-weight: bold;
        font-size: 2em;
        color: var(--primary);
        margin-bottom: 10px;
        line-height: 10px;
    }
}

.scrolling-text-rotated-background { /* covers the gap between the colors the scrolling text and the thingy below */
    position: absolute;
    transform:translateY(32px);
    background-color: var(--box);
    width: 99999px;
    padding-top: 80px;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-25%);
    }
}

/* SECTIONS */
.portfolio-text_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color: var(--text);
    padding: 1px;
    margin: auto;
    margin-top: 15px;
}

.section-subtext {
    text-align: center;
    font-size: 23px;
    max-width: 900px;
    word-wrap: break-word;
    color: var(--darkerText);
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 23px;
    max-width: 900px;
    word-wrap: break-word;
    color: var(--text);
}

.section-image {
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    img {
        width: 800px;
    }

    p {
        color: var(--darkerText);
        font-size: 18px;
    }
}



.section-box {
    padding: 1rem;
    border-left: 5px solid;
    border-color: var(--primary);
    border-radius: 4px;
    margin: 1rem 0;

    .title {
        display: flex;
        flex-direction: row;
        gap: 5px;

        align-items: center;
        /* ← add ONLY this */

        font-weight: bold;
        color: var(--primary);
        margin-bottom: 0.5rem;
    }
}
/* ABOUT ME */
.about-me {
    background-color: var(--box);
}

.about-me-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-me-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
    overflow: hidden;
}

.about-me-card {
    position: relative;
    width: 300px;
    height: 100px;
    border-radius: 2px;
    overflow: hidden;

    #background {
        position: absolute;
        object-fit: cover;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #gradient {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        transition: all .3s ease;
    }

    #title, #description {
        position: absolute;
        bottom: -2%;
        transform: translateY(150px);
        left: 5%;
        z-index: 1;
        opacity: 0;
        transition: all .3s ease;
    }

    #title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    #description {
        font-size: 14px;
        font-weight: 200;
    }
}

.about-me-card:hover  {
    #title, #description {
        opacity: 1;
        transform: translateY(0px);
    }

    #gradient {
        opacity: 1;
    }
}

/* IMAGE CAROUSEL */
.carousel {
    width: 1000px;
    aspect-ratio: 16 / 9;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.carousel_slides {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel_slides a {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: block;

    img.carousel_slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-in-out;
    }
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;

    .progress {
        height: 100%;
        width: 0%;
        background: var(--primary);
        transition: width 3s linear;
    }
}


/* PhotoSwipe Gallery */
.pswp__dynamic-caption--below {
    max-width: 90%;
    font-size: clamp(1rem, 2.2vw, 1.6rem);
    padding: 15px 0 0;
    text-align: center;
    margin: 0 auto;
}

.pswp__dynamic-caption--mobile {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.grid-interactive {
    transform: translateX(20%);

    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 4px;

    img {
        border-radius: 15px;
        margin: 8px;
        vertical-align: middle;
        transition: all .65s ease;
        opacity: 1;
    }
}

.grid-interactive:has(img:hover) img:not(:hover) {
    opacity: 0.5;
    filter: blur(1px);
    -webkit-filter: blur(1px)
}

.grid-interactive img {
    opacity: 1.0;
    filter: blur(0px);
    -webkit-filter: blur(0px)
}

#grid-big {
    img {
        width: 300px;
        height: auto;
    }

    img:hover {
        width: 340px;
        height: auto;
    }
}


#grid-medium {
    img {
        width: 230px;
        height: auto;
    }

    img:hover {
        width: 270px;
        height: auto;
    }
}